.information__container {
  /* border: 1px solid black; */
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 600px;
  border-radius: 2rem;
  background-color:white;
}

.dashboard {
  text-align: center;
  margin-top: 10%;
}

.dashboard-title {
  color: white;
  opacity: 0.9;
  font-weight: 700;
  text-transform: uppercase;
}

/* .scrollable {
  height: 590px;
  overflow: auto;
} */

.dashboard-tab{
  background-color: #0000;
  width: 100%;
  padding-bottom: 5%;
}

.button{
  margin-top: 3%;
  background-color: #f5593d !important;
}

.tab{
  width: 20%;
}