.course__container {
  margin-top: 10%;
  height: 80vh;
  border-radius: 2rem;
  margin-bottom: 5%;
}

.course__card {
  overflow: auto;
  height: 450px;
}

.course__card2 {
  overflow: auto;
  height: 80vh;
}

.course-details-button {
  text-align: center;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
